<div>
  <h2 id="page-heading" data-cy="GamePlayerHeading">
    <span jhiTranslate="lobbyApp.gamePlayer.home.title">Game Players</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lobbyApp.gamePlayer.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game-player"
        [routerLink]="['/game-player/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lobbyApp.gamePlayer.home.createLabel"> Create a new Game Player </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gamePlayers?.length === 0">
    <span jhiTranslate="lobbyApp.gamePlayer.home.notFound">No Game Players found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gamePlayers && gamePlayers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="lobbyApp.gamePlayer.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="role"><span jhiTranslate="lobbyApp.gamePlayer.role">Role</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ready"><span jhiTranslate="lobbyApp.gamePlayer.ready">Ready</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gameInst.id">
            <span jhiTranslate="lobbyApp.gamePlayer.gameInst">Game Inst</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="player.id">
            <span jhiTranslate="lobbyApp.gamePlayer.player">Player</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gamePlayer of gamePlayers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/game-player', gamePlayer.id, 'view']">{{ gamePlayer.id }}</a>
          </td>
          <td>{{ gamePlayer.version }}</td>
          <td>{{ gamePlayer.role }}</td>
          <td>{{ gamePlayer.ready }}</td>
          <td>
            <div *ngIf="gamePlayer.gameInst">
              <a [routerLink]="['/game-inst', gamePlayer.gameInst.id, 'view']">{{ gamePlayer.gameInst?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="gamePlayer.player">
              <a [routerLink]="['/player', gamePlayer.player.id, 'view']">{{ gamePlayer.player?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/game-player', gamePlayer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/game-player', gamePlayer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gamePlayer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
