<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="memberGameProps">
      <h2 data-cy="memberGamePropsDetailsHeading"><span jhiTranslate="lobbyApp.memberGameProps.detail.title">Member Game Props</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ memberGameProps.id }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.memberGameProps.version">Version</span></dt>
        <dd>
          <span>{{ memberGameProps.version }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.memberGameProps.seed">Seed</span></dt>
        <dd>
          <span>{{ memberGameProps.seed }}</span>
        </dd>
        <dt>
          <span jhiTranslate="lobbyApp.memberGameProps.mapName" [ngbTooltip]="'lobbyApp.memberGameProps.help.mapName' | translate"
            >Map Name</span
          >
        </dt>
        <dd>
          <span>{{ memberGameProps.mapName }}</span>
        </dd>
        <dt>
          <span jhiTranslate="lobbyApp.memberGameProps.mapSize" [ngbTooltip]="'lobbyApp.memberGameProps.help.mapSize' | translate"
            >Map Size</span
          >
        </dt>
        <dd>
          <span>{{ memberGameProps.mapSize }}</span>
        </dd>
        <dt>
          <span jhiTranslate="lobbyApp.memberGameProps.npcCount" [ngbTooltip]="'lobbyApp.memberGameProps.help.npcCount' | translate"
            >Npc Count</span
          >
        </dt>
        <dd>
          <span>{{ memberGameProps.npcCount }}</span>
        </dd>
        <dt>
          <span jhiTranslate="lobbyApp.memberGameProps.jsonProps" [ngbTooltip]="'lobbyApp.memberGameProps.help.jsonProps' | translate"
            >Json Props</span
          >
        </dt>
        <dd>
          <span>{{ memberGameProps.jsonProps }}</span>
        </dd>
        <dt>
          <span jhiTranslate="lobbyApp.memberGameProps.configName" [ngbTooltip]="'lobbyApp.memberGameProps.help.configName' | translate"
            >Config Name</span
          >
        </dt>
        <dd>
          <span>{{ memberGameProps.configName }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.memberGameProps.user">User</span></dt>
        <dd>
          <span>{{ memberGameProps.user?.id }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.memberGameProps.gameClass">Game Class</span></dt>
        <dd>
          <div *ngIf="memberGameProps.gameClass">
            <a [routerLink]="['/game-class', memberGameProps.gameClass.id, 'view']">{{ memberGameProps.gameClass?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/member-game-props', memberGameProps.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
