<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-player-heading" data-cy="GamePlayerCreateUpdateHeading" jhiTranslate="lobbyApp.gamePlayer.home.createOrEditLabel">
        Create or edit a Game Player
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lobbyApp.gamePlayer.version" for="field_version">Version</label>
          <input type="number" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="lobbyApp.gamePlayer.role"
            for="field_role"
            [ngbTooltip]="'lobbyApp.gamePlayer.help.role' | translate"
            >Role</label
          >
          <input type="text" class="form-control" name="role" id="field_role" data-cy="role" formControlName="role" />
          <div *ngIf="editForm.get('role')!.invalid && (editForm.get('role')!.dirty || editForm.get('role')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('role')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('role')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 4 }"
            >
              This field cannot be longer than 4 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="lobbyApp.gamePlayer.ready"
            for="field_ready"
            [ngbTooltip]="'lobbyApp.gamePlayer.help.ready' | translate"
            >Ready</label
          >
          <input type="number" class="form-control" name="ready" id="field_ready" data-cy="ready" formControlName="ready" />
          <div *ngIf="editForm.get('ready')!.invalid && (editForm.get('ready')!.dirty || editForm.get('ready')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('ready')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('ready')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lobbyApp.gamePlayer.gameInst" for="field_gameInst">Game Inst</label>
          <select
            class="form-control"
            id="field_gameInst"
            data-cy="gameInst"
            name="gameInst"
            formControlName="gameInst"
            [compareWith]="compareGameInst"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="gameInstOption" *ngFor="let gameInstOption of gameInstsSharedCollection">{{ gameInstOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="lobbyApp.gamePlayer.player" for="field_player">Player</label>
          <select
            class="form-control"
            id="field_player"
            data-cy="player"
            name="player"
            formControlName="player"
            [compareWith]="comparePlayer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="playerOption" *ngFor="let playerOption of playersSharedCollection">{{ playerOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
