<div>
  <h2 id="page-heading" data-cy="GameClassHeading">
    <span jhiTranslate="lobbyApp.gameClass.home.title">Game Classes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lobbyApp.gameClass.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-game-class"
        [routerLink]="['/game-class/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lobbyApp.gameClass.home.createLabel"> Create a new Game Class </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="gameClasses?.length === 0">
    <span jhiTranslate="lobbyApp.gameClass.home.notFound">No Game Classes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="gameClasses && gameClasses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="lobbyApp.gameClass.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="lobbyApp.gameClass.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="revision">
            <span jhiTranslate="lobbyApp.gameClass.revision">Revision</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="launcherPath">
            <span jhiTranslate="lobbyApp.gameClass.launcherPath">Launcher Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gamePath">
            <span jhiTranslate="lobbyApp.gameClass.gamePath">Game Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="docsPath">
            <span jhiTranslate="lobbyApp.gameClass.docsPath">Docs Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="propNames">
            <span jhiTranslate="lobbyApp.gameClass.propNames">Prop Names</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="updated">
            <span jhiTranslate="lobbyApp.gameClass.updated">Updated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let gameClass of gameClasses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/game-class', gameClass.id, 'view']">{{ gameClass.id }}</a>
          </td>
          <td>{{ gameClass.version }}</td>
          <td>{{ gameClass.name }}</td>
          <td>{{ gameClass.revision }}</td>
          <td>{{ gameClass.launcherPath }}</td>
          <td>{{ gameClass.gamePath }}</td>
          <td>{{ gameClass.docsPath }}</td>
          <td>{{ gameClass.propNames }}</td>
          <td>{{ gameClass.updated | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/game-class', gameClass.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/game-class', gameClass.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(gameClass)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
