<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="accountInfo">
      <h2 data-cy="accountInfoDetailsHeading"><span jhiTranslate="lobbyApp.accountInfo.detail.title">Account Info</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ accountInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.accountInfo.version">Version</span></dt>
        <dd>
          <span>{{ accountInfo.version }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.accountInfo.type">Type</span></dt>
        <dd>
          <span>{{ accountInfo.type }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyApp.accountInfo.user">User</span></dt>
        <dd>
          <span>{{ accountInfo.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/account-info', accountInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
